@charset "UTF-8";
/* ---- top.jsp ---- */
#top_menu {
	text-align: right;
}
#main_menu {
	text-align: center;
}

/* ---- bottom.jsp ---- */
#footer_area {
	text-align: center;
}

/* ---- 공통 ---- */
article {
	min-height: 200px;	
}

article h1, h3 {
	text-align: center;
}

article table {
	margin: auto;	
}

article #info_table, #info_table tr, #info_table th, #info_table td {
	border: 1px solid black;	
	border-collapse: collapse;
}


/* ---- 회원가입 폼 ---- */
#preview_profile {
	width: 100px;
	height: 100px;
}

/* ---- 로그인 폼 ---- */
#loginForm {
	text-align: center;
}

/* ---- 아이디 중복확인 폼 ---- */
#checkIdForm {
	text-align: center;
}

#checkIdResultArea {
	margin-top: 10px;	
	text-align: center;
}








